@font-face {
  font-family: 'Inter';
  src: url('../assets/font/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

#root {
  text-align: center;
  background-color: #F6F6F6;
  font-family: 'Inter', 'Roboto', sans-serif;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: #fff;
  padding: 0 24px;

  .samy-logo {
    align-self: flex-start;
    width: 80px;
  }

  .search-bar {
    margin-bottom: 18px;
  }
}

.search-bar {
  width: 270px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #A1A1A1;

  input {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    border: none;
    background-color: transparent;
    width: 90%;
    margin-left: 8px;
  }

  input::placeholder {
    color: #A1A1A1;
  }
}

.products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
  padding-bottom: 24px;
}

.product {
  width: 328px;
  height: 504px;
  background-color: #F9F9F9;
  border: 1px solid #D3D3D3;
  position: relative;
}

.image {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.price-tag {
  position: absolute;
  color: #1D1D1B;

  p {
    position: absolute;
    margin-left: 8px;
  }
}

.price-tag::before {
  content: "";
  position: absolute;
  left: 0;
  border-right: 120px solid transparent;
  border-top: 120px solid #fff;
}

.product-info {
  display: flex;
  flex-direction: column-reverse;
}

.interaction-buttons-container {
  display: flex;

  button {
    border: 1px solid #D3D3D3;
    border-radius: 0;
    width: 50%;
    height: 56px;
  }
}

.button-content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  color: #1D1D1B;
  gap: 4px;
  align-items: center;
}

@media only screen and (min-device-width: 480px) {
  .header {
    height: 120px;
    padding: 0 80px;
    flex-direction: row;
    justify-content: space-between;

    .samy-logo {
      width: 136px;
      align-self: center;
    }

    .search-bar {
      margin-bottom: 0;
    }
  }

  .product {
    width: 400px;
    height: 460px;
  }

  .interaction-buttons-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 112px;
    right: 4px;

    button {
      background: transparent;
      border: none;
    }
  }

  .button-content-container {
    display: flex;
    flex-direction: column;

    color: #fff;
  }
}

.like-icon {
  color: #C6492A;
}

.product-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #1D1D1B;
  margin-bottom: 0;
}

.product-subtitle {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #A1A1A1;
  margin-top: 0;
}

.product-author {
  color: #1D1D1B;
}